@layer components.modal {
	.modal-overlay {
		position: fixed;
		height: 100dvh;
		width: 100dvw;
		background-color: rgba(0, 0, 0, 0.25);
		top: 0;
		left: 0;
		display: grid;
		place-items: center;
	}
}