@layer components.bookmark-library {
    .bookmark-library {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 65%;
        height: 100%;
        gap: 4rem;
    }

    .add-folder-button {
        position: absolute;
        right: 0;
    }
}
