@layer components.bookmark-library {
    .bookmark-library {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .add-folder-button {
        position: absolute;
        right: 0;
    }
}
