@layer components.startpage-layout {
    .startpage-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        color: var(--color-font);
        background-color: var(--color-background);
        gap: 2rem;
        min-width: none;
    }
}