@layer components.tag {
	.tag {
		display: inline-block;
		padding: 0.25rem 0.75rem;
		border-radius: 1rem;
		background: color-mix(in srgb, var(--color-primary) 25%, transparent);
		color: var(--color-font);
		font-size: 0.75rem;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.05rem;
		cursor: pointer;
		transition: var(--transition);
	}

	.tag:hover {
		background: color-mix(in srgb, var(--color-primary) 50%, transparent);
	}

}