@layer components.column-layout {
    .column-layout {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }
}