@layer components.disclosure {
	.disclosure {
		display: flex;
		flex-direction: column;

		.panel {
			padding: 0 1rem;
			opacity: 0;
			transition: var(--transition);
		}

		&[data-expanded] {
			.panel {
				opacity: 1;
				margin: 0.15rem 0 0.75rem 1.25rem;
			}

			.panel--wide {
				margin-left: 0;
			}
		}

		.icon {
			rotate: 0deg;
			transition: rotate 200ms;
		}

		&[data-expanded] .icon {
			rotate: 90deg;
		}

		.heading {
			padding: 0 1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;

			[slot=trigger] {
				width: 100%;
				background: none;
				border: none;
				color: var(--color-text);
				display: flex;
				align-items: center;
				gap: 0.5rem;
				padding: 0.5rem 0;
			}

			[slot=trigger].button--disabled {
				opacity: 0.65;
			}

			&:hover:not(.heading--disabled) {
				background-color: color-mix(in srgb, var(--color-font) 10%, transparent);
			}
		}
	}
}