@layer components.disclosure {
	.disclosure {
		display: flex;
		flex-direction: column;

		.panel {
			opacity: 0;
			transition: var(--transition);
		}

		&[data-expanded] {
			.panel {
				opacity: 1;
				margin-top: 0.5rem;
				margin-left: 1.25rem;
			}

			.panel--wide {
				margin-left: 0;
			}
		}

		.icon {
			rotate: 90deg;
			transition: rotate 200ms;
		}

		&[data-expanded] .icon {
			rotate: 180deg;
		}

		.heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		[slot=trigger] {
			background: none;
			border: none;
			color: var(--color-text);
			display: flex;
			align-items: center;
			gap: 0.5rem;
			padding: 0;
		}

		[slot=trigger].button--disabled {
			opacity: 0.65;
		}

	}
}