@layer components.fact {
    .fact-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
    }

    .fact-container__fact {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
    }
}