@layer components.row-layout {
    .row-layout {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        height: 35%;
        max-width: var(--max-width);
    }
}