@layer components.bookmark-editor {
	.bookmark-editor {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	.bookmark-editor__data {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.bookmark-editor__buttons {
		display: flex;
		gap: 0.25rem;
	}

	.bookmark-editor__buttons--column {
		flex-direction: column;
	}

	.bookmark-editor__buttons__button {
		height: 100%;
		display: flex;
		align-items: center;
	}
}