@layer components.link {
    .link {
        color: var(--color-text);
        cursor: pointer;

        &:hover {
            color: var(--color-primary);
            text-decoration: line-through;
        }
    }
}