@layer components.bookmark-folder-editor {
	.bookmark-folder-editor {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;
	}

	.bookmark-folder-editor__add-button {
		width: fit-content;
		align-self: center;
	}
}