@layer components.radio {
	.radio {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 1rem;
		forced-color-adjust: none;
		cursor: pointer;
		font-size: 0.9rem;
		text-wrap: break-word;

		&:before {
			content: '';
			display: block;
			min-width: 1.25rem;
			height: 1.25rem;
			border: 0.125rem solid var(--color-font);
			background: var(--color-background);
			border-radius: 1.25rem;
			transition: var(--transition);
		}

		&[data-pressed]:before {
			border-color: var(--color-primary);
		}

		&[data-selected] {
			&:before {
				border-width: 0.4rem;
				border-color: var(--color-primary);
			}
		}

		&[data-focus-visible]:before {
			outline: 1px solid var(--color-primary);
			outline-offset: 1px;
		}
	}
}