@import 'layers.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@layer reset {
	*:where(
			:not(html, iframe, canvas, img, svg, video, audio):not(
					svg *,
					symbol *
				)
		) {
		all: unset;
		display: revert;
	}
	*, :before, :after {
		box-sizing: border-box;
	}
}

@layer fonts {
	body {
		font-family: 'Noto Sans', sans-serif;
	}
}

@layer variables {
	:root {
		--color-primary: #007bff;
		--color-secondary: #6c757d;
		--color-background: #f8f9fa;
		--color-font: #343a40;
		--transition: all 0.2s, color 0.2s;
	}
}
