@layer components.drop-zone {
    .drop-zone {
        color: var(--color-font);
        background: var(--color-background);
        border: 1px solid var(--color-font);
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        border-radius: 0.25rem;
        font-size: 1rem;
        text-align: center;
        outline: none;
        padding: 1rem 0.75rem;

        &[data-focus-visible],
        &[data-drop-target] {
            outline: 2px solid var(--color-primary);
            outline-offset: -1px;
        }

        &[data-drop-target] {
            background: color-mix(in srgb, var(--color-primary) 25%, transparent);
        }
    }
}