@layer components.bookmark-folder {
	.bookmark-folder {
		--button-positioning: 105%;
		display: flex;
		flex-direction: column;
		align-items: end;
		align-items: center;
		padding: 2rem;
	}

	.bookmark-folder__title {
		display: flex;
		align-items: center;
		position: relative;
		cursor: default;
	}

	.bookmark-folder__title__text {
		font-weight: bold;
		color: var(--color-primary);
	}

	.bookmark-folder__title__edit-button {
		position: absolute;
		left: calc(var(--button-positioning) + 1.75rem);
		display: none;
	}

	.bookmark-folder__title__delete-button {
		position: absolute;
		left: var(--button-positioning);
		display: none;
	}

	.bookmark-folder:hover .bookmark-folder__title__edit-button,
    .bookmark-folder:hover .bookmark-folder__title__delete-button {
        display: flex;
    }
}
