@layer components.bookmark-folder {
	.bookmark-folder {
		width: 100%;
		padding: 1rem 2rem 2rem 2rem;
		display: flex;
		flex-direction: column;
		gap: 0.15rem;
		align-items: center;
		--button-positioning: 105%;
		position: relative;
	}

	.bookmark-folder__title {
		display: flex;
		align-items: center;
		cursor: default;
		text-align: center;
		margin-bottom: 0.5rem;
	}

	.bookmark-folder__title__text {
		font-weight: bold;
		color: var(--color-primary);
	}

	.bookmark-folder__title__edit-button,
	.bookmark-folder__title__delete-button {
		top: -0.5rem;
		position: absolute;
		transition: var(--transition);
		opacity: 0;
		right: 0;
	}

	.bookmark-folder__title__edit-button {
		right: 1.5rem;
	}

	.bookmark-folder__title__delete-button {
		right: -0.1rem;
	}

	.bookmark-folder:hover .bookmark-folder__title__edit-button,
	.bookmark-folder:hover .bookmark-folder__title__delete-button {
		opacity: 1;
	}

	.bookmark-folder:not(:hover) .bookmark-folder__title__edit-button,
	.bookmark-folder:not(:hover) .bookmark-folder__title__delete-button {
		opacity: 0;
		transition-delay: 0.01s;
	}
}