@layer components.cirucular-button {
	.circular-button {
		border-radius: 50%;
		cursor: pointer;
		font-size: 1rem;
		padding: 0.25rem;
		aspect-ratio: 1 / 1;
		transition: var(--transition);
		display: flex;
		color: var(--color-font);

		&:hover {
			color: var(--color-primary);
		}

	}

}